.button-comp {
    border: 2px solid $button-primary-color;
    border-radius: 8px;
    padding: 5px 20px;
    font-size: 1.2rem;
    font-family: "Roboto";
    color: $button-primary-color;
    background: transparent;
}
