.header {
  color: $light-color;
  font-family: "Roboto";
  overflow-x: hidden;

  @media ($tablet) {
    display: flex;
    background: $logo-background;
    justify-content: space-evenly;
  }

  .hamburger-icon {
    display: none;
    align-items: center;
    justify-content: center;

    @media ($tablet) {
      display: flex;
    }
  }

  .logo {
    background: $logo-background;
  }

  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $navigation-background-color;

    a {
      padding: 10px 20px;

      &:hover {
        background: darken($navigation-background-color, 5%);
        transition: 0.5s;
      }
    }

    .active {
      background: darken($navigation-background-color, 10%);
    }

    @media ($tablet) {
      display: none;
    }
  }

  .mobile-menu-button {
    svg {
      color: $light-color;
    }
  }
}
