.single-page-text {
  padding: 20px;
  color: $single-page-text-color;

  h1 {
    font-family: "Charm";
    text-align: center;
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 1;
    color: $single-page-text-color;
  }

  .study-areas {
    font-family: "Roboto";
    font-size: 1.6rem;
    margin-top: 50px;
  }
}

.single-page-text-card {
  min-height: 150px;
  background-color: $text-card-color;
  padding: 10px;
  color: $light-color;
  margin: 20px;
  border-radius: $border-radius;
  font-size: 1rem;
  font-family: "Roboto";
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $offer-box-shadow;
}

.colored-list-items {
  ol {
    color: $light-color;

    li {
      margin: 0;
      min-height: 120px;
      padding: 20px 20px 20px 40px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        border: 1px solid $light-color;
        left: 17px;
      }
    }

    li:nth-of-type(even) {
      background: $primary-color;
    }

    li:nth-of-type(odd) {
      background: $text-card-color;
    }

    li:last-child {
      border-bottom-right-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    li:first-child {
      border-top-right-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }
  }

  .card-content {
    border-radius: $border-radius;
  }
}
